@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@import "~bootstrap/scss/mixins/banner";

@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$body-bg: tint-color(black, 10%);
$font-family-sans-serif: 'Space Mono', sans-serif;


@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/progress";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack

a {text-decoration: none;}

header {
  position: sticky;
}

#gfc-logo-shield {
  height: 70px;
}

#gfc-logo {
  height: 54px;
  margin-left: 18px;
  margin-bottom: 4px;
}

@include media-breakpoint-down(xl) {
  .filter-container {
    flex-wrap: wrap;
  }
}
@include media-breakpoint-up(sm) {
  #app {
    width: 450px;
  }
}
@include media-breakpoint-up(md) {
  #app {
    width: 650px;
  }
}
@include media-breakpoint-up(lg) {
  #app {
    width: 850px;
  }
}
@include media-breakpoint-up(xl) {
  #app {
    width: 1050px;
  }

  .modal-dialog {
    max-width: 600px;
  }
}
@include media-breakpoint-up(xxl) {
  #app {
    width: 1250px;
  }

  .modal-dialog {
    max-width: 800px;
  }
}

#filter-name {
  width: auto;
}

.filter-container > * {
  flex-grow: 1;
}

.youtube-logo {
  position: absolute;
  top: 250px;
  width: 100px;
  right: 15px;
  cursor: pointer;
}

#weapon-container-inner .card .row {
  align-items: center;
}

#weapon-container-inner .card .icon {
  max-width: 25%;
}

#weapon-container-inner .card .icon img {
  width: 100%;
}

#weapon-container-inner .card .icon-range img {
  width: 100%;
  position: relative;
  right: -4px;
}

#weapon-container-inner .card .text {
  max-width: 75%;
  text-align: right;
}

.scroll-to-top {
  position: relative;
}

.btn-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.btn-style {
  background-color: $body-bg;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}